<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hisilicon.hardwaretest"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        <activity
            android:name="com.hisilicon.hardware.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hisilicon.hardware.cvbs.CVBSActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.hisilicon.hardware.usb.USBActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.hisilicon.hardware.hdmi.HDMIActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.hisilicon.hardware.hdmi.HDMITestActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.hisilicon.hardware.util.SelectFileAcvitity"
            android:exported="true"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <service android:name="com.hisilicon.hardware.hdmi.HDMITestService" />
    </application>

</manifest>