<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hisilicon.android.HiSettingsDemo"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hisilicon.android.HiCustomizeSettings.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hisilicon.android.HiCustomizeSettings.HiSuspendMode" >
        </activity>
        <activity android:name="com.hisilicon.android.HiCustomizeSettings.HiStartMode" >
        </activity>
        <activity android:name="com.hisilicon.android.HiCustomizeSettings.HiDualNetActivity" >
        </activity>
    </application>

</manifest>