<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hisilicon.android.networkupgrade"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/network_upgrade_title" >
        <activity
            android:label="@string/network_upgrade_title"
            android:name="com.hisilicon.android.networkupgrade.activity.NetworkUpgradeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/network_upgrade_title"
            android:name="com.hisilicon.android.networkupgrade.activity.NetworkUpgradeDownloadedActivity"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter >
                <action android:name="com.netupgrade.intent.action.downloaded" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/network_system_upgrade"
            android:icon="@drawable/ic_networkupgrade"
            android:name="com.hisilicon.android.networkupgrade.activity.WebActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
	<activity
	    android:name="com.hisilicon.android.networkupgrade.activity.DDRTester"
	    android:launchMode="singleInstance"
	    android:configChanges="keyboard|keyboardHidden|orientation"
	    android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.BootargsInfo" >
	    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.logcatMainActivity" >
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.MediaMem" >
	    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.MemInfo" >
	    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.BuildNumber" >
	    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.GPU" >
	    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.MemLeak" >
	    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.HDMI" >
	    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
	    android:name="com.hisilicon.android.networkupgrade.activity.dmesgMainActivity" >
	    <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
        <uses-permission android:name="android.permission.MASTER_CLEAR" />
</manifest>
