
config HI_TVP_SUPPORT
    bool "Trusted Video Path Support"
    depends on (HI3798MV100 || HI3796MV100 || HI3798CV200_A)
    default n
    help
        Support trusted video path function enables you to use secure os and memory.
        You should say n here, unless you really know what are you doing.
        Say yes here can get trusted video path.

choice
    prompt "TVP Memory Layout"
    depends on HI_TVP_SUPPORT
    default 1G

config  TVP_MEM_1G
    bool "1G"
config  TVP_MEM_2G
    bool "2G"
endchoice

config  HI_TVP_MEM_LAYOUT
    string
    default 1G     if TVP_MEM_1G
    default 2G     if TVP_MEM_2G
