#+++++++++++++++++++++++++++++++++++++++++++++++++++
# menu "Zlib Config"
#+++++++++++++++++++++++++++++++++++++++++++++++++++

config HI_ZLIB_SUPPORT
	bool "Zlib Support"
	default y

#+++++++++++++++++++++++++++++++++++++++++++++++++++
# endmenu
#+++++++++++++++++++++++++++++++++++++++++++++++++++
