#+++++++++++++++++++++++++++++++++++++++++++++++++++

config HI_VOIP_SUPPORT
	depends on (HI3716CV200 || HI3716MV400 || HI3718CV100 || HI3719CV100 || HI3718MV100 || HI3719MV100)
	bool "VOIP Support"
	default n

#+++++++++++++++++++++++++++++++++++++++++++++++++++
