#
# hisata sata ahci device configuration
#

menuconfig HI_SATA
	bool "Hisilicon Sata Device Support"
	depends on (ARCH_GODBOX || ARCH_S40 || ARCH_HI3798MX || ARCH_HIFONE)
	default n if (ARCH_GODBOX  || ARCH_S40 || ARCH_HI3798MX || ARCH_HIFONE)
	select ATA
	select ATA_VERBOSE_ERROR
	select SATA_PMP
	help
	  This selects the hisilicon sata device.

if HI_SATA

config HI_SATA_IOBASE
	hex "Hisilicon Sata IO Address"
	default "0x60040000" if ARCH_GODBOX
	default "0xF9900000" if (ARCH_S40 || ARCH_HI3798MX || ARCH_HIFONE)

config HI_SATA_IOSIZE
	hex "hi sata IO Size"
	default "0x00010000"
	help
	  default is 0x10000.

config HI_SATA_IRQNUM
	int "Hisilicon Sata IRQ Number"
	default "92" if ARCH_GODBOX
	default "102" if (ARCH_S40 || ARCH_HI3798MX || ARCH_HIFONE)

config HI_SATA_PHY_CONFIG
	hex "Hisilicon Sata PHY Config for 1.5G"
	default "0x0e03615f" if ARCH_GODBOX
	depends on ARCH_GODBOX
	help
	   SATA Phy config for 1.5G mode.

config HI_SATA_3G_PHY_CONFIG
	hex "Hisilicon Sata PHY for 3G"
	default "0x0e662753" if ARCH_GODBOX
	depends on ARCH_GODBOX
	help
	   SATA Phy config for 3G mode.

config HI_SATA_MODE
	int "Hisilicon Sata Interworking Speed Mode(1.5G:0/3G:1)"
	range 0 1
	default "0" if ARCH_GODBOX
	depends on ARCH_GODBOX

config HI_SATA_PORTS
	int "Hisilicon Sata Port Number"
	default "1" if ARCH_GODBOX
	default "2" if ARCH_HIFONE
	depends on ARCH_GODBOX || ARCH_HIFONE

config HI_SATA_PORT1
	bool "Hisilicon SATA Port1"
	default y if ARCH_HIFONE
	depends on ARCH_HIFONE

endif # HI_SATA
