menu "Hisilicon driver support"

config APP_CAPABLE
	tristate "Application Capable"
	default n
	help
	  Support application have root authority.

config APP_SEMAPHORE_API
	tristate "Semaphore API"
	default y
	help
	  Export semaphore API for SDK driver.

config  TEE_DRIVER
	tristate "Secure TEE driver"
	default n
	default y if SECURE_EXTENSION
	depends on SECURE_EXTENSION
	help
	 Provides a communication interface between userspace and
	 TrustZone Operating Environment.
endmenu
